<header class="flex align-middle justify-between flex-row p-6">
  <div>
    <a href="/" class="text-3xl font-bold text-chathams-blue-800">Corvix</a>
  </div>
  <div class="flex gap-6">
    <a href="/funcionalidades" class="text-lg text-mako-700 hover:text-mako-500">Funcionalidades</a>
    <a href="/precos" class="text-lg text-mako-700 hover:text-mako-500">Preços</a>
    <a href="/contato" class="text-lg text-mako-700 hover:text-mako-500">Contato</a>
  </div>
  <div class="flex gap-4">
    <a href="/entrar"
      class="border border-astronaut-blue-950 rounded-lg px-6 py-2 text-lg text-astronaut-blue-950">Entrar</a>
    <a href="/registrar"
      class="border border-astronaut-blue-950 rounded-lg bg-astronaut-blue-950 px-6 py-2 text-lg text-white">Comece
      Grátis</a>
  </div>
</header>